.card-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
}

.card {
  color: blueviolet;
  border: solid black 2px;
  padding: 3rem;
  transform: translateX(100px);
  opacity: 0;
  transition: 150ms;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}
