.card-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
}

.card {
  color: rgb(226, 43, 144);
  border: solid red 2px;
  padding: 3rem;
  transform: translateX(100px);
  opacity: 0;
  transition: 500ms;
  font-size: 1.2rem;
}

.card.show {
  transform: translateX(0);
  opacity: 1;
}

.box {
  width: 30%;
  max-height: 8rem;
  border: 2px black dotted;
  margin: 5rem auto 5rem auto;
  padding: 3rem 4rem;
}

.text {
  color: saddlebrown;
  font-size: 2rem;
}
